a{
    color: #3498db;
    text-decoration: none;
    transition:all 0.2s;
}
a:hover, a:active {
    color: #0056b3;
    transition:all 0.2s;
}
hr{
    margin:0px;
    color:grey;
}
.center{
    display:block;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.hr{
    border-bottom: 1px solid #999;
    margin:10px 10px;
}
/*输入框风格css*/
.win11ui.input,input.text.win11ui,
input[type="text"].win11ui,
input[type="email"].win11ui,
input[type="url"].win11ui,
input[type="password"].win11ui,
input[type="number"].win11ui,
input[type="date"].win11ui,
input[type="time"].win11ui,
textarea.win11ui{
    padding: 5px;
    border: 1px solid #303030;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#000;
    -webkit-appearance: none;
}
textarea.win11ui {
    resize: vertical;
}
textarea.win11ui,input.win11ui{
    outline:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin:0;
}
.input.win11ui,
input[type="text"].win11ui,
input[type="email"].win11ui,
input[type="url"].win11ui,
input[type="password"].win11ui,
input[type="number"].win11ui,
input[type="date"].win11ui,
input[type="time"].win11ui,
input.text.win11ui,textarea.win11ui{
    border-radius: 3px;
    border:none;
    box-shadow: inset 0px -1px 0px 0px #777777;
    -webkit-box-shadow: inset 0px -1px 0px 0px #777777;
    transition: all 0.2s;
}
.input.win11ui:hover,
input[type="text"].win11ui:focus,
input[type="email"].win11ui:focus,
input[type="url"].win11ui:focus,
input[type="password"].win11ui:focus,
input[type="number"].win11ui:focus,
input[type="date"].win11ui:focus,
input[type="time"].win11ui:focus,
input.win11ui.text:focus,textarea.win11ui:focus{
    box-shadow: inset 0px -1px 0px 0px #007bff;
    -webkit-box-shadow: inset 0px -2px 0px 0px #007bff;
    transition: all 0.2s;
}
/*按钮css*/
button.win11ui,input[type="submit"].win11ui,
input[type="file"].win11ui::file-selector-button,
input[type="button"].win11ui{
    display:inline-block;
    text-align: center;
    border:0.9px solid #aaa;
    border-radius: 2.5px;
    background: #fff;
    color:#000;
    min-width:80px;
    padding:4px 0;
    margin:0 5px;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    line-height: 20px;
    transition: all 0.2s;
}
button.win11ui:hover,input[type="submit"].win11ui:hover,
input[type="file"].win11ui::file-selector-button:hover,
input[type="button"].win11ui:hover{
    border-color: #0078d4;
    background:#e0eef9;
    transition: all 0.2s;
}
button.win11ui:active,input[type="submit"].win11ui:active,
input[type="file"].win11ui::file-selector-button:active,
input[type="button"].win11ui:active{
    border-color: #005499;
    background:#CCE4F7;
    transition: all 0.2s;
}
input[type="color"].win11ui{
    border-radius:none;
    border:1px solid #aaa;
    padding:0;
    height:20px;
    width:30px;
    transition: all 0.2s;
}
input[type="color"].win11ui:hover{
    border-color: #0078d4;
    transition: all 0.2s;
}
input[type="color"].win11ui:active{
    border-color: #005499;
    transition: all 0.2s;
}
/*选择css*/
input[type="radio"].win11ui::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    box-shadow: inset 0px 0px 0px 1px #aaa;
    border-radius: 50%;
    background-color: #f7f7f7;
    transition: all 0.3s;
}
input[type="radio"].win11ui:hover::after{
    box-shadow: inset 0px 0px 0px 1px #429ce3;
    transition: all 0.3s;
}
input[type="radio"].win11ui:checked:hover::after{
    box-shadow: inset 0px 0px 0px 3.5px #429ce3;
    transition: all 0.3s;
}
input[type="radio"].win11ui:checked::after {
    box-shadow: inset 0px 0px 0px 4.5px #007bff;
    transition: all 0.3s;
    background-color: white;
}
input[type="checkbox"].win11ui{
    width: 14px;
    height: 14px;
    border: none;
    box-shadow: inset 0px 0px 0px 1px #aaa;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s;
    margin:0;
}
input[type="checkbox"].win11ui:hover{
    box-shadow: inset 0px 0px 0px 1px #429ce3;
    transition: all 0.3s;
}
input[type="checkbox"].win11ui:checked{
    box-shadow: inset 0px 0px 0px 1px #007bff;
    background-color: #007bff;
    transition: all 0.3s;
}
input[type="checkbox"].win11ui:checked::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    box-shadow: inset -1px -1px 0px 0.5px #fff;
    transform: rotate(45deg);
    margin-left:35%;
    margin-top:18%;
    float:left;
}
/*滑块样式*/
input[type="range"].win11ui{
    background:none;
}
input[type="range"].win11ui::-webkit-slider-thumb{
    display: inline-block;
    width: 16px;
    height: 16px;
    box-shadow: inset 0px 0px 0px 4.5px #007bff;
    border:0px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s;
}
input[type="range"].win11ui::-moz-range-thumb{
    display: inline-block;
    width: 16px;
    height: 16px;
    box-shadow: inset 0px 0px 0px 4.5px #007bff;
    border:0px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s;
}
input[type="range"].win11ui::-webkit-slider-thumb:hover{
    box-shadow: inset 0px 0px 0px 4.5px #429ce3;
    transition: all 0.3s;
}
input[type="range"].win11ui::-moz-range-thumb:hover{
    box-shadow: inset 0px 0px 0px 4.5px #429ce3;
    transition: all 0.3s;
}
input[type="range"].win11ui::-webkit-slider-thumb:active{
    box-shadow: inset 0px 0px 0px 3.5px #429ce3;
    transition: all 0.3s;
}
input[type="range"].win11ui::-moz-range-thumb:active{
    box-shadow: inset 0px 0px 0px 3.5px #429ce3;
    transition: all 0.3s;
}
input[type="range"].win11ui::-webkit-slider-runnable-track{
    background: #007bff;
    border-radius: 1em;
    height:5px;
}
input[type="range"].win11ui::-moz-range-progress {
    background: #007bff;
}
input[type="range"].win11ui::-moz-range-track{
    background:#fff;
    border-radius: 1em;
}
/*窗口样式*/
.win11-window{
    position:absolute;
    border-radius: 6px;
    -webkit-transform-origin: center;
    transform-origin: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 100px #0003;
}
.win11-window .win-header{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 28px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 6px 6px 0 0;
    background:#eee5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.win11-window .win-header .win-title {
    display:flex;
    height: 100%;
    flex-grow: 1;
    align-items: center;
}
.win11-window .win-header .win-title span{
    margin-left:10px;
}
.win11-window .win-header .win-title .win-uicon {
    margin: 0 0 0 6px;
    display:inline-block;
}
.win11-window .win-header .win-buttonbar{
    height: 100%;
    display:flex;
    align-items: center;
}
.win11-window .win-header .win-buttonbar .win-uicon{
    display:grid;
    padding:0 15px;
    height:100%;
    transition: all 0.2s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.win11-window .win-header .win-buttonbar .win-uicon.win-min:hover,.win-buttonbar .win-uicon.win-max:hover{
    transition: all 0.2s;
    background:#aaaaaa55;
}
.win11-window .win-header .win-buttonbar .win-uicon.win-close{
    border-radius: 0 6px 0 0;
}
.win11-window .win-header .win-buttonbar .win-uicon.win-close:hover{
    transition: all 0.2s;
    background:#ff0000;
}
.win11-window .win-header .win-buttonbar .win-uicon.win-close:hover img{
    filter:invert(100%);
}
.win11-window .win-header .win-buttonbar .win-uicon img{
    margin: auto 0;
}
.win11-window .win-main{
    border-radius: 0 0 6px 6px;
    background:#e9e9e9;
    position: relative;
    top:0;
    left:0;
    height:100%;
}
.win11-window h2{
    margin:0;
}
/*暗色模式*/
@media (prefers-color-scheme: dark) {
    a:hover, a:active {
        color: #86c0ff;
        transition:all 0.2s;
    }
    button.win11ui,input[type="submit"].win11ui,
    input[type="file"].win11ui::file-selector-button{
        border-color: #777;
        background:#444;
        color:#fff;
    }
    button.win11ui:hover,input[type="submit"].win11ui:hover,
    input[type="file"].win11ui::file-selector-button:hover{
        border-color: #999;
        background:#555;
    }
    button.win11ui:active,input[type="submit"].win11ui:active,
    input[type="file"].win11ui::file-selector-button:active{
        border-color: #aaa;
        background:#777;
    }
    .win11-window{
        box-shadow: 0px 0px 100px #fff3;
    }
    .win11-window .win-header{
        background:#2b314188;
        color:#fff;
    }
    .win11-window .win-main{
        background:#3c3c3c;
        color:#ccc;
    }
    .win11-window .win-header .win-buttonbar .win-uicon img{
        filter: invert(100%);
    }
    .win11-window .win-header .win-buttonbar .win-uicon.win-min:hover,.win-buttonbar .win-uicon.win-max:hover{
        background:#99999977;
    }
    .input.win11ui,input.text.win11ui,
    input[type="text"].win11ui,
    input[type="email"].win11ui,
    input[type="url"].win11ui,
    input[type="password"].win11ui,
    input[type="number"].win11ui,
    input[type="date"].win11ui,
    input[type="time"].win11ui,
    textarea.win11ui{
        width: 100%;
        background: #303030;
        color:#eee;
    }
    input[type="checkbox"].win11ui{
        background-color: inherit;
    }
    input[type="radio"].win11ui::after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        box-shadow: inset 0px 0px 0px 1px #aaa;
        border-radius: 50%;
        background-color: inherit;
        transition: all 0.2s;
    }
    input[type="radio"].win11ui:hover::after{
        box-shadow: inset 0px 0px 0px 1px #007bff;
        transition: all 0.2s;
    }
    input[type="radio"].win11ui:checked:hover::after{
        box-shadow: inset 0px 0px 0px 3.5px #007bff;
        transition: all 0.2s;
    }
    input[type="radio"].win11ui:checked::after {
        box-shadow: inset 0px 0px 0px 4.5px #007bff;
        transition: all 0.2s;
    }    
}
